# Requirements for the Django project
Django==4.2
python-decouple
Pillow

# For building RESTful APIs
djangorestframework
markdown
django-filter

coreapi

# jwt 
djangorestframework-simplejwt


# For API documentation
drf-yasg[validation]

# send email 
django-mail-templated

# Background Process and cache
celery
redis
django-redis
django_celery_beat

# docker compose stage config for gunicorn and nginx 
gunicorn

# refactoring and tests
black